<h1>{{ btnTitulo }}</h1>

<form [formGroup]="funcionarioForm" (ngSubmit)="submit()" #formDit = "ngForm">
    
    <input type="hidden" formControlName="id">

    <div class="input_box">
        <label for="">Nome</label>
        <input type="text" formControlName="nome" placeholder="Insira o nome" required>
    </div>

    <div class="input_box">
        <label for="">Apelido</label>
        <input type="text" formControlName="apelido" placeholder="Insira o apelido" required>
    </div>

    <div class="input_box">
        <label for="">Departamento</label>
        <select id="departamento" formControlName="departamento" required>
            <option value="RH">RH</option>
            <option value="IT">IT</option>
            <option value="Comercial">Comercial</option>
            <option value="Design">Design</option>
            <option value="Acessórios">Acessórios</option>
        </select>
    </div>

    <div class="input_box">
        <label for="">Turno</label>
        <select id="turno" formControlName="turno" required>
            <option value="Manhã">Manhã</option>
            <option value="Normal">Normal</option>
            <option value="Noite">Noite</option>
        </select>
    </div>

    <div class="btn-box">
        <button type="submit" [disabled]="!funcionarioForm.valid">{{ btnAcao }}</button>
        <button routerLink="">Voltar</button>
    </div>

</form>