<mat-card>
    <h1>{{ btnTitulo }}</h1>

    <form [formGroup]="funcionarioForm" (ngSubmit)="submit()" #formDit = "ngForm">
        
        <input type="hidden" formControlName="id">

        <div class="input_box">
            <mat-form-field>
                <mat-label for="">Nome</mat-label>
                <input matInput type="text" formControlName="nome" placeholder="Insira o nome" required>
            </mat-form-field>
        </div>

        <div class="input_box">
            <mat-form-field>
                <mat-label for="">Apelido</mat-label>
                <input matInput type="text" formControlName="apelido" placeholder="Insira o apelido" required>
            </mat-form-field>
        </div>

        <div class="input_box">
            <mat-form-field>
                <mat-label for="">Departamento</mat-label>
                <mat-select id="departamento" formControlName="departamento" required>
                    <mat-option value="RH">RH</mat-option>
                    <mat-option value="IT">IT</mat-option>
                    <mat-option value="Comercial">Comercial</mat-option>
                    <mat-option value="Design">Design</mat-option>
                    <mat-option value="Acessórios">Acessórios</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="input_box">
            <mat-form-field>
                <mat-label for="">Turno</mat-label>
                <mat-select id="turno" formControlName="turno" required>
                    <mat-option value="Manhã">Manhã</mat-option>
                    <mat-option value="Normal">Normal</mat-option>
                    <mat-option value="Noite">Noite</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="btn-box">
            <button type="submit" [disabled]="!funcionarioForm.valid" mat-raised-button color="accent">{{ btnAcao }}</button>
            <button routerLink="" mat-raised-button>Voltar</button>
        </div>
    </form>
</mat-card>