<mat-card>
    <div class="funcionario-box">
        <button routerLink="/registo" mat-raised-button color="primary">Registar novo funcionário</button>
        <div class="input_box">
            <mat-form-field>
                <mat-label>Procurar</mat-label>
                <input matInput type="text" placeholder="Procurar funcionário" (input)="search($event)">
            </mat-form-field>
        </div>
    </div>

    <table mat-table [dataSource]="funcionarios" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
        <!-- Position Column -->
        <ng-container matColumnDef="Situacao">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let funcionario">

            <div *ngIf="funcionario.ativo == true; else inativo">
                <img src="assets/images/Ativo.png" alt="" style="height: 20px; width: 20px">
            </div>
            <ng-template #inativo>
                <img src="assets/images/Inativo.png" alt="" style="height: 20px; width: 20px">
            </ng-template>

        </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="Nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let funcionario"> {{funcionario.nome}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="Apelido">
        <th mat-header-cell *matHeaderCellDef>Apelido</th>
        <td mat-cell *matCellDef="let funcionario"> {{funcionario.apelido}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="Departamento">
        <th mat-header-cell *matHeaderCellDef>Departamento</th>
        <td mat-cell *matCellDef="let funcionario"> {{funcionario.departamento}} </td>
        </ng-container>

        <ng-container matColumnDef="Ações">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let funcionario">

                <button routerLink="/detalhes/{{ funcionario.id }}" mat-raised-button>Detalhes</button>
                <button routerLink="/editar/{{ funcionario.id }}" mat-raised-button color="accent">Editar</button>

            </td>
        </ng-container>

        <ng-container matColumnDef="Excluir">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let funcionario">

                <button mat-raised-button color="warn" (click)="OpenDialog(funcionario.id)">Remover</button>

            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="colunas"></tr>
        <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>
</mat-card>