<mat-card>
    <div>
        <h1>Detalhes Funcionário</h1>
    </div>

    <div *ngIf="funcionario">
        <form>

            <div class="input_box">
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" value="{{ funcionario.nome }}" disabled>
                </mat-form-field>
            </div>

            <div class="input_box">
                <mat-form-field>
                    <mat-label>Apelido</mat-label>
                    <input matInput type="text" value="{{ funcionario.apelido }}" disabled>
                </mat-form-field>
            </div>

            <div class="input_box">
                <mat-form-field>
                <mat-label>Departamento</mat-label>
                <input matInput type="text" value="{{ funcionario.departamento }}" disabled>
            </mat-form-field>
            </div>

            <div class="input_box">
                <mat-form-field>
                    <mat-label>Turno</mat-label>
                    <input matInput type="text" value="{{ funcionario.turno }}" disabled>
                </mat-form-field>
            </div>

            <div class="input_box">
                <mat-form-field>
                    <mat-label>Situação</mat-label>
                    <input matInput type="text" value="{{ funcionario.ativo == true ? 'Ativo' : 'Inativo' }}" disabled>
                </mat-form-field>
            </div>

            <div class="input_box">
                <mat-form-field>
                    <mat-label>Data de criação</mat-label>
                    <input matInput type="text" value="{{ funcionario.dataCriacao }}" disabled>
                </mat-form-field>
            </div>

            <div class="input_box">
                <mat-form-field>
                    <mat-label>Data de alteração</mat-label>
                    <input matInput type="text" value="{{ funcionario.dataAlteracao }}" disabled>
                </mat-form-field>
            </div>

            <div class="btn-box">
                <button (click)="InativaFuncionario()" mat-raised-button color="warn">Inativar utilizador</button>
                <button routerLink='' mat-raised-button>Voltar</button>
            </div>
        </form>
    </div>
</mat-card>