<div>
    <h1>Detalhes Funcionário</h1>
</div>

<div *ngIf="funcionario">
    <form>
        <div class="input-box">
            <label>Nome</label>
            <input type="text" value="{{ funcionario.nome }}" disabled>
        </div>

        <div class="input-box">
            <label>Apelido</label>
            <input type="text" value="{{ funcionario.apelido }}" disabled>
        </div>

        <div class="input-box">
            <label>Departamento</label>
            <input type="text" value="{{ funcionario.departamento }}" disabled>
        </div>

        <div class="input-box">
            <label>Turno</label>
            <input type="text" value="{{ funcionario.turno }}" disabled>
        </div>

        <div class="input-box">
            <label>Situação</label>
            <input type="text" value="{{ funcionario.ativo == true ? 'Ativo' : 'Inativo' }}" disabled>
        </div>

        <div class="input-box">
            <label>Data de criação</label>
            <input type="text" value="{{ funcionario.dataCriacao }}" disabled>
        </div>

        <div class="input-box">
            <label>Data de alteração</label>
            <input type="text" value="{{ funcionario.dataAlteracao }}" disabled>
        </div>

        <div class="btn-box">
            <button (click)="InativaFuncionario()">Inativar utilizador</button>
            <button routerLink=''>Voltar</button>
        </div>
    </form>
</div>